# Нейронная сеть  
Предсказываение сжимания / разжимания пальцев

In [2]:
import collections
import matplotlib.pyplot as plt
import numpy as np

import tensorflow as tf

from tensorflow.keras import layers

In [133]:
model = tf.keras.Sequential()
# Add an Embedding layer expecting input vocab of size 1000, and
# output embedding dimension of size 64.
# model.add(layers.Embedding(input_dim=1000, output_dim=64))

# Add a LSTM layer with 128 internal units.
model.add(tf.keras.layers.InputLayer(input_shape=(200,)))
model.add(layers.Dense(64))
# model.add(layers.LSTM(128))
# model.add(layers.Conv1D(32, 3, activation='relu'))
# model.add(layers.SimpleRNN(32))
model.add(layers.Dense(32))
model.add(layers.Dense(16))

# Add a Dense layer with 10 units.
model.add(layers.Dense(3))

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 64)                12864
_________________________________________________________________
dense_17 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_18 (Dense)             (None, 16)                528
_________________________________________________________________
dense_19 (Dense)             (None, 3)                 51
=================================================================
Total params: 15,523
Trainable params: 15,523
Non-trainable params: 0
_________________________________________________________________

In [134]:
# inputs = tf.keras.Input(shape=(100,))  # Returns an input placeholder

# # A layer instance is callable on a tensor, and returns a tensor.
# x = layers.Dense(64, activation='relu')(inputs)
# x = layers.Dense(64, activation='relu')(x)
# x = layers.LSTM(64)(x)
# predictions = layers.Dense(2)(x)

In [135]:
# model = tf.keras.Model(inputs=inputs, outputs=predictions)

# The compile step specifies the training configuration.
model.compile(optimizer=tf.keras.optimizers.RMSprop(0.001),
              loss=tf.keras.losses.categorical_crossentropy,
              metrics=['accuracy'])

# Trains for 5 epochs
# model.fit(data, labels, batch_size=32, epochs=5)

In [136]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 64)                12864
_________________________________________________________________
dense_17 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_18 (Dense)             (None, 16)                528
_________________________________________________________________
dense_19 (Dense)             (None, 3)                 51
=================================================================
Total params: 15,523
Trainable params: 15,523
Non-trainable params: 0
_________________________________________________________________

# Tools

In [137]:
import numpy

def smooth(x,window_len=11,window='hanning'):
    if x.ndim != 1:
        raise (ValueError, "smooth only accepts 1 dimension arrays.")

    if x.size < window_len:
        raise(ValueError, "Input vector needs to be bigger than window size.")


    if window_len<3:
        return x


    if not window in ['flat', 'hanning', 'hamming', 'bartlett', 'blackman']:
        raise (ValueError, "Window is on of 'flat', 'hanning', 'hamming', 'bartlett', 'blackman'")


    s=numpy.r_[x[window_len-1:0:-1],x,x[-2:-window_len-1:-1]]
    #print(len(s))
    if window == 'flat': #moving average
        w=numpy.ones(window_len,'d')
    else:
        w=eval('numpy.'+window+'(window_len)')

    y=numpy.convolve(w/w.sum(),s,mode='valid')
    return y

# Чтение данных

In [138]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [139]:
dataset = pd.read_csv("../datasets/binary_regression/ds_1000/dataset.csv", index_col=0)

In [140]:
dataset.describe()

,e_0,e_1,e_2,e_3,e_4,e_5,e_6,e_7,e_8,e_9,...,e_191,e_192,e_193,e_194,e_195,e_196,e_197,e_198,e_199,label
count,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,...,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000
mean,215.476654,215.346304,215.394942,215.649805,215.836576,215.727626,215.566148,215.503891,215.517510,215.538911,...,117.182879,117.202335,117.064202,117.161479,116.284047,116.340467,115.426070,115.260700,115.447471,-0.044747
std,214.891596,214.766850,214.808255,215.062441,215.253395,215.143634,214.982769,214.922355,214.932068,214.953958,...,191.747605,191.775082,191.549112,191.715695,191.215495,191.301205,190.737829,190.469324,190.780019,0.806855
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000
50%,420.000000,420.000000,421.000000,420.500000,420.500000,421.000000,421.000000,421.000000,420.000000,420.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,428.000000,428.000000,429.000000,429.750000,430.000000,429.000000,429.000000,429.000000,428.000000,429.000000,...,422.000000,422.000000,422.000000,422.000000,421.750000,422.000000,422.000000,421.000000,422.000000,1.000000
max,448.000000,448.000000,446.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,446.000000,...,447.000000,448.000000,447.000000,447.000000,447.000000,448.000000,448.000000,448.000000,446.000000,1.000000

In [141]:
df = dataset[dataset.label != 0]

In [142]:
X_values = dataset.loc[:, "e_0":"e_199"].to_numpy()
lables_my = []
for l in dataset.label[:]:
    if l == 1:
        lables_my.append([1, 0, 0])
    elif l == 0 :
        lables_my.append([0, 1, 0])
    elif l == -1 :
        lables_my.append([0, 0, 1])

In [143]:
len(X_values)

514

In [144]:
lables_my = np.array(lables_my)

In [145]:
len(lables_my)

514

In [146]:
X_values_post = []
for each in X_values:
    X_values_post.append(np.log([i+1 for i in each]))

In [147]:
# data = np.random.random((1000, 100))
# labels_1 = np.random.random((26, 2))

In [148]:
# labels_1

In [149]:
X_train, X_test, y_train, y_test = train_test_split(X_values, lables_my, test_size=0.33, random_state=42)

In [150]:
model.fit(X_train, y_train, epochs=20)

Epoch 1/20
344/344 [==============================] - 0s 1ms/step - loss: nan - acc: 0.3052
Epoch 2/20
344/344 [==============================] - 0s 82us/step - loss: nan - acc: 0.2907
Epoch 3/20
344/344 [==============================] - 0s 150us/step - loss: nan - acc: 0.2907
Epoch 4/20
344/344 [==============================] - 0s 78us/step - loss: nan - acc: 0.2907
Epoch 5/20
344/344 [==============================] - 0s 87us/step - loss: nan - acc: 0.2907
Epoch 6/20
344/344 [==============================] - 0s 102us/step - loss: nan - acc: 0.2907
Epoch 7/20
344/344 [==============================] - 0s 62us/step - loss: nan - acc: 0.2907
Epoch 8/20
344/344 [==============================] - 0s 79us/step - loss: nan - acc: 0.2907
Epoch 9/20
344/344 [==============================] - 0s 76us/step - loss: nan - acc: 0.2907
Epoch 10/20
344/344 [==============================] - 0s 87us/step - loss: nan - acc: 0.2907
Epoch 11/20
344/344 [==============================] - 0s 104us/step - loss: nan - acc: 0.2907
Epoch 12/20
344/344 [==============================] - 0s 83us/step - loss: nan - acc: 0.2907
Epoch 13/20
344/344 [==============================] - 0s 91us/step - loss: nan - acc: 0.2907
Epoch 14/20
344/344 [==============================] - 0s 121us/step - loss: nan - acc: 0.2907
Epoch 15/20
344/344 [==============================] - 0s 98us/step - loss: nan - acc: 0.2907
Epoch 16/20
344/344 [==============================] - 0s 100us/step - loss: nan - acc: 0.2907
Epoch 17/20
344/344 [==============================] - 0s 99us/step - loss: nan - acc: 0.2907
Epoch 18/20
344/344 [==============================] - 0s 135us/step - loss: nan - acc: 0.2907
Epoch 19/20
344/344 [==============================] - 0s 130us/step - loss: nan - acc: 0.2907
Epoch 20/20
344/344 [==============================] - 0s 110us/step - loss: nan - acc: 0.2907

In [151]:
res = model.predict(X_test)

In [ ]:
for r in res:
    print(round(r[0]), round(r[1])) #, round(r[2]))

In [ ]:
y_test